/*estilos generales*/
 *{
    margin:0%
 }

body{
   background-color: rgb(20, 20, 20);
}

/* estilos del header*/

header{
    background-color: #18232B;
    height: 100px;
    color: #DDE4E6;
    font-size: 20px;
    font-weight: 300;
    color: #DDE4E6; 
    font-family: 'Droid Sans';
    display: block
     
    
}

header img {
   
    float: left;
    margin: 20px;
}

/*En el index, el h1 no me queda centrado*/

main h1{
    text-align: center;
}

main {
    font-size: 15px;
    font-weight: lighter;
    color: #DDE4E6; 
    font-family: 'Droid Sans';
    text-align:center
}

header nav ul Li{
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    color: #DDE4E6; 
    font-family: 'Droid Sans';
    display: inline-block;
    position:initial; 
    padding: 30px;
    text-align: left

}




main img{
    display: block;
    margin: auto;
}

    


footer {
    
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: #DDE4E6; 
    font-family: 'Droid Sans';

}