/*estilos generales*/

 *{
    margin:0%;
    padding:0%;
    
 }

body{
   background-color: rgb(20, 20, 20);
}

/* estilos del header*/

header{
    background-color: #18232B !important;
    height: 60px; 
    color: #DDE4E6;
    font-size: 20px;
    font-weight: 300;
    color: #DDE4E6; 
    font-family: 'Droid Sans';
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;    
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}



header img {
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;   
}



/*En el index, el h1 no me queda centrado*/

main h1{
    text-align: center;
}

main p{
    padding: 60px;
    display: flex;
    text-align: center;
}

main {
    font-size: 15px;
    font-weight: lighter;
    color: #DDE4E6; 
    font-family: 'Droid Sans';
    text-align:center
}




main img{
    display: block;
    margin: auto;
}

 main ul{
    padding: 60px;
    text-align: left;

 }   


footer {
    
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: #DDE4E6; 
    font-family: 'Droid Sans';

}


a {
    text-decoration: none;
    color: #DDE4E6;
}